<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Groupdesk</title>

		<!-- <link rel="stylesheet" href="http://localhost:7474/icon.min.css"/> -->
		<link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
		<link rel="stylesheet" href="http://localhost:7474/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>GroupDesk | Add Card</h1>

			<div class="row">
				<div class="col-4">
					<div class="card bg-dark">
                        <div class="card-body">
                            <form action="/newcard" method="post">
								<input type="text" name="type" id="type" value="time" class="invis">
								<input type="text" name="name" id="name" placeholder="Time..." style="font-size: 1.25rem;" required>
								<input type="color" name="color" id="color" value="#212529" class="bg-dark" style="border: none;">
								<p class="timeCardDisplay"></p>
								<br>
								<input type="submit" value="Submit" class="btn btn-outline-success">
							</form>
                        </div>
                    </div>
				</div>
				<div class="col-4">
					<div class="card bg-dark">
                        <div class="card-body">
                            <form action="/newcard" method="post">
								<input type="text" name="type" id="type" value="date" class="invis">
								<input type="text" name="name" id="name" placeholder="Date..." style="font-size: 1.25rem;" required>
								<input type="color" name="color" id="color" value="#212529" class="bg-dark" style="border: none;">
								<p class="dateCardDisplay"></p>
								<br>
								<input type="submit" value="Submit" class="btn btn-outline-success">
							</form>
                        </div>
                    </div>
				</div>
				<div class="col-4">
					<div class="card bg-dark">
                        <div class="card-body">
                            <form action="/newcard" method="post">
								<input type="text" name="type" id="type" value="text" class="invis">
								<input type="text" name="name" id="name" placeholder="Text..." style="font-size: 1.25rem;" required>
								<input type="color" name="color" id="color" value="#212529" class="bg-dark" style="border: none;">
								<textarea name="textval" id="textval" style="color: #fff; width: 100%;" class="bg-dark" placeholder="Something Important..."></textarea>
								<br><br>

								<input type="submit" value="Submit" class="btn btn-outline-success">
							</form>
                        </div>
                    </div>
				</div>
				<div class="col-4">
					<div class="card bg-dark">
                        <div class="card-body">
                            <form action="/newcard" method="post">
								<input type="text" name="type" id="type" value="url" class="invis">
								<input type="text" name="name" id="name" placeholder="Text..." style="font-size: 1.25rem;" required>
								<input type="text" name="urlph" id="urlph" placeholder="Your URL Placeholder..." style="font-size: 1rem;" required>
								<input type="text" name="urlval" id="urlval" placeholder="Your URL..." style="font-size: 1rem;" required>
								<input type="color" name="color" id="color" value="#212529" class="bg-dark" style="border: none;">
								<br><br>

								<input type="submit" value="Submit" class="btn btn-outline-success">
							</form>
                        </div>
                    </div>
				</div>
			</div>

			<br>

			<a href="/" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
				<path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
			  </svg></a>
		</div>

		<script>
			if (typeof module === 'object') {
				window.module = module;
				module = undefined;
			}
		</script>

		<script src="http://localhost:7474/jquery.js"></script>
		<script src="http://localhost:7474/bootstrap.bundle.min.js"></script>

		<script>
			$('.dateCardDisplay').text(checkDate())
			$('.timeCardDisplay').text(checkTime())

			$('#color').on('change',function(){
				$('#choosen-color').text($(this).val());
			});

			setInterval(() => {
				$('.dateCardDisplay').text(checkDate())
				$('.timeCardDisplay').text(checkTime())
			}, 1000)

			function checkDate()    {
				let date = new Date()
				let day = date.getDate()
				let month = date.getMonth() + 1
				let year = date.getFullYear()
				if(month < 10)  {
					month = `0${month}`
				}

				if(day < 10)  {
					day = `0${day}`
				}

				let dateString = `${day}.${month}.${year}`
				return dateString;
			}

			function checkTime()    {
				let date = new Date()
				let hour = date.getHours()
				let minutes = date.getMinutes()
				if(hour < 10)  {
					hour = `0${hour}`
				}

				if(minutes < 10)  {
					minutes = `0${minutes}`
				}

				let dateString = `${hour}:${minutes}`
				return dateString;
			}
		</script>

		<script>
			if (window.module) module = window.module;
		</script>
	</body>
</html>
