<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Groupdesk</title>

		<link rel="stylesheet" href="http://localhost:7474/semantic-icons.css"/>
		<link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
		<link rel="stylesheet" href="http://localhost:7474/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>GroupDesk | Add Card</h1>

			<form action="/newcard" method="post">
				<div class="row">
					<div class="col-6">
						<div class="card bg-dark">
							<div class="card-body">
								<h5>Card Name</h5>
								<input type="text" name="name" id="name" placeholder="Card Name" required="true" />
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="card bg-dark">
							<div class="card-body">
								<h5>Card Type</h5>
								<select name="type" id="type">
									<option value="text">Text</option>
									<option value="time">Time</option>
									<option value="date">Date</option>
									<option value="url">URL</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-12 text d-none">
						<div class="card bg-dark">
							<div class="card-body">
								<h5>Textcard Value</h5>
								<input type="text" name="textval" id="textval" placeholder="Text..." />
							</div>
						</div>
					</div>
					<div class="col-6 url d-none">
						<div class="card bg-dark">
							<div class="card-body">
								<h5>Card URL</h5>
								<input type="url" name="urlval" id="urlval" placeholder="URL..." />
							</div>
						</div>
					</div>
					<div class="col-6 url d-none">
						<div class="card bg-dark">
							<div class="card-body">
								<h5>Card URL Placeholder</h5>
								<input type="text" name="urlph" id="urlph" placeholder="My URL..." />
							</div>
						</div>
					</div>
				</div>
				<input type="submit" value="Add a Card!" class="btn btn-success send d-none" />
                <a href="/" class="btn btn-danger">Cancel</a>
			</form>
		</div>

		<script>
			if (typeof module === 'object') {
				window.module = module;
				module = undefined;
			}
		</script>

		<script src="http://localhost:7474/jquery.js"></script>
		<script
			src="http://localhost:7474/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>

		<script>
			setInterval(() => {
				if ($('#type option:selected').text() == 'Text') {
					$('.text').removeClass('d-none');
					$('.url').addClass('d-none');
					if ($('#textval').val()) {
						$('.send').removeClass('d-none');
					} else {
						$('.send').addClass('d-none');
					}
				} else if ($('#type option:selected').text() == 'URL') {
					$('.text').addClass('d-none');
					$('.url').removeClass('d-none');

					if ($('#urlval').val() && $('#urlph').val()) {
						$('.send').removeClass('d-none');
					} else {
						$('.send').addClass('d-none');
					}
				} else {
					$('.text').addClass('d-none');
					$('.url').addClass('d-none');
					$('.send').removeClass('d-none');
				}
			}, 1000);
		</script>

		<script>
			if (window.module) module = window.module;
		</script>
	</body>
</html>
