<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDesk | Edit Config</title>
    
		<link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
		<link rel="stylesheet" href="http://localhost:7474/style.css" />
</head>
<body>
    <div class="container">
        <form action="/settingsView/config" method="post">
            <textarea name="config" id="config" style="color: #fff; background-color: transparent; border: none; border-radius: 5px; width: 100%; white-space: pre-wrap;"><%-config%></textarea>
            <input type="submit" value="Submit" class="btn btn-success">
            <a href="/settingsView" type="submit" class="btn btn-danger">Back</a>
        </form>
    </div>
</body>
</html>