<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDesk | Backuping...</title>

    
	<link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
	<link rel="stylesheet" href="http://localhost:7474/style.css" />
</head>
<body>
    <div class="container">
        <h1>GroupDesk | Backup</h1>

        <p>Please choose the JSON-File to backup in in the dialog opened. After that the app will restart and will be resetted.<br> If nothing happened, klick <span onclick="reload()">here</span>. To return, click <span onclick="toSettings()">here.</span></p>
    </div>

    <script src="http://localhost:7474/jquery.js"></script>
    <script src="http://localhost:7474/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        function reload()   {
            window.location.reload();
        }

        function toSettings() {
            window.location.replace("/settingsView")
        }
    </script>
</body>
</html>