<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDesk | Restore</title>

    <link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:7474/style.css" />
</head>
<body>
    <div class="container">
        <h1>GroupDesk | Restore</h1>

        <p>Chose the JSON which you backuped your Desk in. Then wait and click the button below. After that the app will restart itself.</p>

        <p>Don't work?<br>Restart the application in the settings menu.</p>

        <a href="/settingsView" class="btn btn-success">Back</a>
    </div>

    <script src="http://localhost:7474/jquery.js"></script>
    <script src="http://localhost:7474/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        function reload()   {
            window.location.reload();
        }

        function toSettings() {
            window.location.replace("/settingsView")
        }
    </script>
</body>
</html>