<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupDesk</title>

    
		<link rel="stylesheet" href="http://localhost:7474/bootstrap.min.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

        * {
            font-family: Raleway;
            overflow: hidden;
        }

        body,html   {
            height: 100%;
        }

        body {
            font-family: Raleway;
            background: #212121;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <img src="http://localhost:7474/loading.gif" alt="Loading Gif">
    </div>

    <script src="http://localhost:7474/jquery.js"></script>
</body>
</html>